<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserLabel">
            Create or edit a User</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <label class="control-label" for="id">ID</label>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-9" ng-class="{error: form1.id.$invalid}">
                        <input type="text" class="form-control" name="id"
                               ng-model="vm.user.id" readonly>
                    </div>                            
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <label class="control-label" for="login">Login</label>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-9" >
                        <input type="text" class="form-control" name="login"
                               ng-model="vm.user.login" ng-required="vm.user.id == null" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/">
                        <div ng-show="editForm.login.$invalid">
                            <p class="help-block"
                               ng-show="editForm.login.$error.required">
                                This field is required.
                            </p>

                            <p class="help-block"
                               ng-show="editForm.login.$error.maxlength"
                               >
                                This field cannot be longer than 50 characters.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <label class="control-label">Email</label>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-9" ng-class="{error: form1.firstName.$invalid}">
                        <input type="email" class="form-control" name="email"
                               ng-model="vm.user.email" required ng-maxlength="100">

                        <div ng-show="editForm.email.$invalid">
                            <p class="help-block"
                               ng-show="editForm.email.$error.required">
                                This field is required.
                            </p>

                            <p class="help-block"
                               ng-show="editForm.email.$error.maxlength"
                               >
                                This field cannot be longer than 100 characters.
                            </p>
                            <p class="help-block"
                               ng-show="editForm.email.$error.email">
                                Your e-mail is invalid.
                            </p>
                        </div>
                    </div>                            
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <label for="activated">
                            <span>Activated</span>
                        </label>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-9" >
                        <input ng-disabled="vm.user.id === null" type="checkbox" id="activated" ng-model="vm.user.activated" name="activated">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <label class="control-label">Authority</label>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-9" ng-class="{error: form1.firstName.$invalid}">
                        <select class="form-control" multiple name="authority" ng-model="vm.user.authorities"
                                ng-options="authority for authority in vm.authorities">
                        </select>
                    </div>                            
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <label for="role">
                            <span>Role</span>
                        </label>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-9" >
                        <ui-select ng-model="vm.user.role" name="role"
                                   class="btn-group bootstrap-select form-control"
                                   ng-disabled="false" ng-required="true"
                                   append-to-body="false"
                                   search-enabled="true">
                            <ui-select-match placeholder="Pilih Role">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices
                                repeat="item in vm.listRole | filter: $select.search">
                                <span ng-bind-html="item.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
           >Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
