<div class="widgets">
    <div class="row">
        <div class="col-md-12" ng-hide="modalTitle === ''">
            <div ba-panel ba-panel-title="{{modalTitle}}">
                <form class="form-horizontal" name="form1" id="form1">
                    <div>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label class="control-label" for="tglBerlaku">Tgl Berlaku mulai </label>
                                    </div>
                                    <div class="col-sm-4" >
                                        <div class="input-group">
                                            <input class="form-control" datetimepicker ng-model="vm.tglBerlaku" options="options" name="tglBerlaku" ng-required="true"/>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.tglBerlaku.$error.required">
                                                Harus Diisi
                                            </span>                        
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <label class="control-label" for="kota">Asal</label>
                                    </div>
                                    <div class="col-sm-4" ng-class="{error: form1.kotaAsal.$invalid}">
                                        <ui-select ng-model="vm.kotaAsal" name="kotaAsal"
                                                   class="btn-group bootstrap-select form-control"
                                                   ng-required="true"
                                                   append-to-body="true"
                                                   search-enabled="true" required="true" 
                                                   >
                                            <ui-select-match placeholder="Pilih Kota">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices
                                                repeat="item in listKota | filter: $select.search">
                                                <span ng-bind-html="item.nama"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.kotaAsal.$error.required">
                                            Harus Diisi
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!--                                    <div class="col-xs-2">
                                                                            <label class="control-label" for="pelayaran">Pelayaran</label>
                                                                        </div>
                                                                        <div class="col-sm-4" ng-class="{error: form1.pelayaran.$invalid}">
                                                                            <ui-select ng-model="vm.pelayaran" name="pelayaran"
                                                                                       class="btn-group bootstrap-select form-control"
                                                                                       ng-required="true"
                                                                                       append-to-body="true"
                                                                                       search-enabled="true" required="true" 
                                                                                       >
                                                                                <ui-select-match placeholder="Pilih pelayaran">
                                                                                    {{$select.selected.nama}}
                                                                                </ui-select-match>
                                                                                <ui-select-choices
                                                                                    repeat="item in listPelayaran | filter: $select.search">
                                                                                    <span ng-bind-html="item.nama"></span>
                                                                                </ui-select-choices>
                                                                            </ui-select>
                                                                            <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.pelayaran.$error.required">
                                                                                Harus Diisi
                                                                            </span>
                                                                        </div>-->
                                    <div class="col-md-6"></div>                                        
                                    <div class="col-xs-2">
                                        <label class="control-label" for="kota">Tujuan</label>
                                    </div>
                                    <div class="col-sm-4" ng-class="{error: form1.kotaTujuan.$invalid}">
                                        <ui-select ng-model="vm.kotaTujuan" name="kotaTujuan"
                                                   class="btn-group bootstrap-select form-control"
                                                   ng-required="true"
                                                   append-to-body="true"
                                                   search-enabled="true" required="true" 
                                                   >
                                            <ui-select-match placeholder="Pilih Kota">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices
                                                repeat="item in listKota | filter: $select.search">
                                                <span ng-bind-html="item.nama"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.kotaAsal.$error.required">
                                            Harus Diisi
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-condensed" style="font-size: small; margin: 0 0 0 0;padding: 0 0 0 0" >
                                    <thead>
                                        <tr>
                                            <th><button class="btn btn-info btn-xs" ng-click="baruDetail()">Tambah</button></th>
                                            <th>Ukuran Kontainer</th>
                                            <th>Setting Harga</th>
                                            <th style="width: 100px">Actions</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="c in vm.listDetail|orderBy:'ukuranKontainer'" class="editable-row">
                                        <td>
                                            {{$index + 1}}
                                        </td>
                                        <td>
                                            <select class="form-control" ng-model="c.ukuranKontainer" ng-required="true" name="ukuranKontainer" >
                                                <option ng-repeat="x in listUkuranKontainer" ng-value="x">{{x}}</option>
                                            </select>
                                        </td>                            
                                        <td>
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-sm-7">
                                                            <label class="control-label" for="hargaDariPelayaran">Harga dr Pelayaran</label>
                                                        </div>
                                                        <div class="col-sm-5" >
                                                            <input class="form-control" ng-model="c.hargaDariPelayaran" ng-change="updateHargaFcl($index)" type="number">
                                                            <span class="pull-right" ng-show="c.hargaDariPelayaran > 0">Rp.{{c.hargaDariPelayaran|number}}</span>
                                                        </div>
                                                    </div>                                                
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-sm-7">
                                                            <label class="control-label" for="provit">Profit</label>
                                                        </div>
                                                        <div class="col-sm-5" >
                                                            <input class="form-control" ng-model="c.provit" ng-change="updateHargaFcl($index)" type="number">
                                                            <span class="pull-right" ng-show="c.provit > 0">Rp.{{c.provit|number}}</span>
                                                        </div>
                                                    </div>                                                
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-sm-7">
                                                            <label class="control-label" for="hargaFcl">Harga FCL</label>
                                                        </div>
                                                        <div class="col-sm-5" >
                                                            <input class="form-control" ng-model="c.hargaFcl" ng-disabled="true" type="number">
                                                            <span class="pull-right" ng-show="c.hargaFcl > 0">Rp.{{c.hargaFcl|number}}</span>
                                                        </div>
                                                    </div>                                                
                                                </div>                                               
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-sm-7">
                                                            <label class="control-label" for="biayaDooringRingan">Biaya Dooring (Ringan)</label>
                                                        </div>
                                                        <div class="col-sm-5" >
                                                            <input class="form-control" ng-model="c.biayaDooringRingan" ng-change="updateHargaFclRingan($index)" type="number" min="0">
                                                            <span class="pull-right" ng-show="c.biayaDooringRingan > 0">Rp.{{c.biayaDooringRingan|number}}</span>
                                                        </div>
                                                    </div>                                                
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-sm-7">
                                                            <label class="control-label" for="biayaDooringBerat">Biaya Dooring (Berat)</label>
                                                        </div>
                                                        <div class="col-sm-5" >
                                                            <input class="form-control" ng-model="c.biayaDooringBerat" ng-change="updateHargaFclBerat($index)" type="number" min="0">
                                                            <span class="pull-right" ng-show="c.biayaDooringBerat > 0">Rp.{{c.biayaDooringBerat|number}}</span>
                                                        </div>
                                                    </div>                                                
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-sm-7">
                                                            <label class="control-label" for="hargaFclRingan" style="text-align: left">Harga FCL (Dooring) Ringan</label>
                                                        </div>
                                                        <div class="col-sm-5" >
                                                            <!--<input class="form-control" ng-model="c.hargaFclRingan" type="number">-->
                                                            <span class="pull-right" ng-show="c.hargaFclRingan > 0">Rp.{{c.hargaFclRingan|number}}</span>
                                                        </div>
                                                    </div>                                                
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-sm-7">
                                                            <label class="control-label pull-left" for="hargaFclBerat" style="text-align: left">Harga FCL (Dooring) Berat</label>
                                                        </div>
                                                        <div class="col-sm-5" >
                                                            <!--<input class="form-control" ng-model="c.hargaFclBerat" type="number">-->
                                                            <span class="pull-right" ng-show="c.hargaFclBerat > 0">Rp.{{c.hargaFclBerat|number}}</span>
                                                            <span class="pull-right" ng-show="c.hargaFclBerat <= 0">Komunikatif</span>
                                                        </div>
                                                    </div>                                                
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-sm-7">
                                                            <label class="control-label" for="hargaLclRingan">Harga LCL Ringan</label>
                                                        </div>
                                                        <div class="col-sm-5" >
                                                            <input class="form-control" ng-model="c.hargaLclRingan" type="number">
                                                            <span class="pull-right" ng-show="c.hargaLclRingan > 0">Rp.{{c.hargaLclRingan|number}}</span>
                                                        </div>
                                                    </div>                                                
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-sm-7">
                                                            <label class="control-label" for="hargaLclBerat">Harga LCL Berat</label>
                                                        </div>
                                                        <div class="col-sm-5" >
                                                            <input class="form-control" ng-model="c.hargaLclBerat" type="number">
                                                            <span class="pull-right" ng-show="c.hargaLclBerat > 0">Rp.{{c.hargaLclBerat|number}}</span>
                                                        </div>
                                                    </div>                                                
                                                </div>
                                            </div>
                                        </td>                            
                                        <td>
                                            <div class="buttons" >
                                                <button class="btn btn-danger editable-table-button btn-xs" ng-click="hapusDetail($index)">Hapus</button>
                                            </div>
                                        </td>                        
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-9 col-sm-3">
                                <button type="button" class="btn btn-primary" ng-click="simpan()" ng-disabled="form1.$invalid">Simpan</button>
                                <button type="button" class="btn btn-danger" ng-click="clear()">Batal</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12" ng-show="modalTitle === ''">
            <div ba-panel ba-panel-title="Setting Pricelist" >
                <form name="formUtama" id="formUtama">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-xs-2">
                                    <label class="control-label" for="kota">Asal</label>
                                </div>
                                <div class="col-sm-4" ng-class="{error: formUtama.kota.$invalid}">
                                    <ui-select ng-model="param.kotaAsal"
                                               class="btn-group bootstrap-select form-control"
                                               ng-disabled="false"
                                               append-to-body="true"
                                               search-enabled="true" required="true" 
                                               ng-change="resetMerek()"
                                               >
                                        <ui-select-match placeholder="Pilih Kota">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices
                                            repeat="item in listKota | filter: $select.search">
                                            <span ng-bind-html="item.nama"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.kota.$error.required">
                                        Harus Diisi
                                    </span>
                                </div>
                                <div class="col-xs-2">
                                    <label class="control-label" for="kota">Tujuan</label>
                                </div>
                                <div class="col-sm-4" ng-class="{error: formUtama.kota.$invalid}">
                                    <ui-select ng-model="param.kotaTujuan"
                                               class="btn-group bootstrap-select form-control"
                                               ng-disabled="false"
                                               append-to-body="true"
                                               search-enabled="true" required="true" 
                                               ng-change="resetMerek()"
                                               >
                                        <ui-select-match placeholder="Pilih Kota">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices
                                            repeat="item in listKota | filter: $select.search">
                                            <span ng-bind-html="item.nama"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.kota.$error.required">
                                        Harus Diisi
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label class="control-label" for="tglBerlaku">Tgl Berlaku mulai </label>
                                </div>
                                <div class="col-sm-4" >
                                    <div class="input-group">
                                        <input class="form-control" datetimepicker ng-model="param.tglBerlaku" options="options" name="tglBerlaku"/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.tglBerlaku.$error.required">
                                            Harus Diisi
                                        </span>                        
                                    </div>
                                </div>
                                <!--                                <div class="col-xs-2">
                                                                    <label class="control-label" for="kota">Pelayaran</label>
                                                                </div>
                                                                <div class="col-sm-4" ng-class="{error: formUtama.kota.$invalid}">
                                                                    <ui-select ng-model="param.pelayaran"
                                                                               class="btn-group bootstrap-select form-control"
                                                                               ng-disabled="false"
                                                                               append-to-body="true"
                                                                               search-enabled="true" required="true" 
                                                                               >
                                                                        <ui-select-match placeholder="Pilih Pelayaran">
                                                                            {{$select.selected.nama}}
                                                                        </ui-select-match>
                                                                        <ui-select-choices
                                                                            repeat="item in listPelayaran | filter: $select.search">
                                                                            <span ng-bind-html="item.nama"></span>
                                                                        </ui-select-choices>
                                                                    </ui-select>
                                                                    <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.kota.$error.required">
                                                                        Harus Diisi
                                                                    </span>
                                                                </div>  -->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-sm-offset-10 col-xs-2">
                                <button class="btn btn-primary" type="button" ng-click="reloadData()"><i class="glyphicon glyphicon-search" ng-disabled="formUtama.$invalid"></i>Cari
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class=" form-group">
                        <!--                    <input id="search" type="text" class="col-xs-2 form-control" ng-model="param.cari" ng-keypress="$event.keyCode == 13 ? reloadData() : undefined" placeholder="Masukkan pencarian" autofocus>-->
                        <!--<span class="input-group-btn">-->
                        <!--</span>-->
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed" style="font-size: small; margin: 0 0 0 0;padding: 0 0 0 0" >
                        <thead>
                            <tr>
                                <th><button class="btn btn-info btn-xs" ng-click="baru()">Tambah</button></th>
                                <th>Keterangan</th>
                                <th style="width: 100px">Actions</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="c in dataPage.content" class="editable-row">
                            <td>
                                {{$index + 1}}
                            </td>
                            <td style="margin-left: 0;margin-right: 0">
                                <table class="table table-no-borders table-condensed" style="width: 100%;background: transparent" >
                                    <tbody>
                                        <tr>
                                            <td style="text-align: left">Asal : {{c.kota_asal}}</td>
                                            <td style="text-align: left">Tujuan : {{c.kota_tujuan}}</td>
                                            <td style="text-align: left">Tgl Berlaku : {{c.tgl_berlaku|date:'dd/MM/yyyy'}}</td>
                                        </tr>                                        
                                        <tr>
                                            <td colspan="4" style="text-align: left" >
                                                <!--<ul>-->
                                                <div class="row" ng-repeat="x in c.detail| orderBy:'desc':asc track by x.id " >
                                                    <div class="col-md-12" ng-bind-html="x.desc">
                                                    </div>
                                                    <hr>
                                                </div>
                                                <!--</ul>-->
                                            </td>
                                        </tr>                                        
                                    </tbody>
                                </table>
                            </td>                            
                            <td>
                                <div class="buttons" >
                                    <button class="btn btn-primary editable-table-button btn-xs" 
                                            data-toggle="modal" ng-click="edit(c)">Edit</button>
                                    <button class="btn btn-danger editable-table-button btn-xs" ng-confirm-message="Anda yakin akan menghapus Setting Pricelist ini?" ng-confirm="hapus(c)">Hapus</button>
                                    <button class="btn btn-info editable-table-button btn-xs" 
                                            data-toggle="modal" ng-click="update(c)">Update</button>
                                </div>
                            </td>                        
                        </tr>
                    </table>
                </div>
                <div align="center" ng-show="dataPage.totalPages > 1">
                    <ul uib-pagination total-items="paging.totalItems" ng-model="paging.currentPage" max-size="paging.maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="reloadData()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    <pre>Page: {{paging.currentPage}} / {{paging.maxPage}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
