<div class="widgets">
    <div class="row datepicker">
        <div ng-controller="KategoriHargaCtrl">
            <div class="col-md-12" ng-show="modalTitle === ''" >
                <div ba-panel ba-panel-title="Master Kategori Harga">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <input id="search" type="text" class="col-xs-2 form-control" ng-model="param.cari" ng-keypress="$event.keyCode == 13 ? reloadData() : undefined"placeholder="Masukkan pencarian" autofocus>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary btn-md" ng-click="reloadData()"> Tampilkan </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <table class="table table-bordered table-hover table-condensed">
                                        <tr>
                                            <td></td>
                                            <td>Nama</td>
                                            <td>Satuan Kirim</td>
                                            <td>Ukuran Kontainer</td>
                                            <td>Paket</td>
                                            <td>
                                                <button class="btn btn-info editable-table-button btn-xs" ng-click="baru()">Tambah</button>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="c in dataPage.content" class="editable-row">
                                            <td>
                                                {{((paging.currentPage - 1) * paging.maxSize) + $index + 1}}
                                            </td>
                                            <td>
                                                {{ c.nama}}
                                            </td>
                                            <td>
                                                {{ c.satuanKirim.nama || 'empty' }}
                                            </td>
                                            <td>
                                                {{ c.ukuranKontainer|| 'empty' }}
                                            </td>
                                            <td>
                                                <i class="ion-checkmark-round" ng-show="c.paket"></i>
                                            </td>
                                            <td>
                                                <div class="buttons" >
                                                    <button class="btn btn-primary editable-table-button btn-xs" 
                                                            data-toggle="modal" ng-click="edit(c)">Edit</button>
                                                    <button class="btn btn-danger editable-table-button btn-xs" ng-confirm-message="Anda yakin akan menghapus data {{c.nama}}?" ng-confirm="hapus(c)">Delete</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div align="center" ng-show="dataPage.totalPages > 1">
                                        <ul uib-pagination total-items="paging.totalItems" ng-model="paging.currentPage" max-size="paging.maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="reloadData()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                                        <pre>Page: {{paging.currentPage}} / {{paging.maxPage}}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12"  ng-show="modalTitle !== ''">
                <div ba-panel ba-panel-title="{{modalTitle}}" >
                    <div class="row">
                        <form class="form-horizontal" name="form1">
                            <div class="form-group">
                                <div class="col-xs-2">
                                    <label class="control-label" for="nama">Nama</label>
                                </div>
                                <div class="col-sm-4" ng-class="{error: form1.nama.$invalid}">
                                    <input name="nama" id="nama" ng-model="vm.nama" ng-required="true" class="form-control">
                                    <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.nama.$error.required">
                                        Harus Diisi
                                    </span>
                                </div>
                                <div class="col-xs-2">
                                    <label class="control-label" for="satuanKirim">Satuan Kirim</label>
                                </div>
                                <div class="col-sm-4" ng-class="{error: form1.satuanKirim.$invalid}">
                                    <ui-select ng-model="vm.satuanKirim"
                                               class="btn-group bootstrap-select form-control"
                                               ng-disabled="false"
                                               ng-required="true"
                                               append-to-body="true"
                                               search-enabled="true"
                                               name="satuanKirim">
                                        <ui-select-match placeholder="Pilih Satuan Kirim">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices
                                            repeat="item in listSatuanKirim | filter: $select.search">
                                            <span ng-bind-html="item.nama"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.satuanKirim.$error.required">
                                        Harus Diisi
                                    </span>
                                </div>
                            </div>                    
                            <div class="form-group">
                                <div class="col-xs-2" ng-show="vm.satuanKirim.supportPaket === true">
                                    &nbsp;
                                </div>
                                <div class="col-sm-4 checkbox" ng-show="vm.satuanKirim.supportPaket === true">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" id="aktif" ng-model="vm.paket">
                                        <span>Paket</span>
                                    </label>
                                </div>
                                <div class="col-xs-2" ng-show="vm.satuanKirim.supportUkuranKontainer === true">
                                    Ukuran Kontainer
                                </div>
                                <div class="col-sm-4" ng-show="vm.satuanKirim.supportUkuranKontainer === true">
                                    <div class="input-group">
                                        <select class="form-control" ng-model="vm.ukuranKontainer" ng-required="vm.satuanKirim..supportUkuranKontainer === true" name="ukuranKontainer" >
                                            <option ng-repeat="x in listUkuranKontainer" ng-value="x">{{x}}</option>
                                        </select>
                                        <span style="float:right; color:white" class="help-block label label-danger" ng-show="formDialog.ukuranKontainer.$error.required">
                                            Harus Diisi
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="button" class="btn btn-primary" ng-click="simpan()" ng-disabled="form1.$invalid">Simpan</button>
                                    <button type="button" class="btn btn-danger" ng-click="clear()">Batal</button>
                                </div>
                            </div>
                        </form>                
                    </div>                    
                </div>                    
            </div>            
        </div>
    </div>
</div>