<div class="widgets">

    <div class="row">
        <div class="col-md-12" ng-show="modalTitle === ''" >
            <div class=" form-group input-group">
                <input id="search" type="text" class="col-xs-2 form-control" ng-model="search" ng-keypress="$event.keyCode == 13 ? reloadData() : undefined"placeholder="Masukkan pencarian" autofocus>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="reloadData()"><i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
            <div ba-panel ba-panel-title="Master Role" ba-panel-class="with-scroll">
                <table class="table table-bordered table-hover table-condensed">
                    <tr>
                        <td></td>
                        <td>Nama Role</td>
                        <td>Menu</td>
                        <td class="col-sm-3">
                            <button class="btn btn-info editable-table-button btn-xs" ng-click="baru()">Tambah</button>
                        </td>
                    </tr>
                    <tr ng-repeat="c in dataPage.content" class="editable-row">
                        <td>
                            {{((paging.currentPage - 1) * paging.maxSize) + $index + 1}}
                        </td>
                        <td>
                            {{ c.name || 'empty' }}
                        </td>
                        <td>
                            <div class="col-md-12">
                                <div class="col-md-4" ng-repeat="x in c.menuSet">
                                    <ul>
                                        <li>{{x.menu.name}}</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="buttons" >
                                <button class="btn btn-primary editable-table-button btn-xs" 
                                        data-toggle="modal" ng-click="edit(c)">Edit</button>
                                <button class="btn btn-danger editable-table-button btn-xs" ng-confirm-message="Anda yakin akan menghapus data Role {{c.name}}?" ng-confirm="hapus(c)">Delete</button>
                            </div>
                        </td>
                    </tr>
                </table>
                <div align="center" ng-show="dataPage.totalPages > 1">
                    <ul uib-pagination total-items="paging.totalItems" ng-model="paging.currentPage" max-size="paging.maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="reloadData()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    <pre>Page: {{paging.currentPage}} / {{paging.maxPage}}</pre>
                </div>
            </div>
        </div>

        <div class="col-md-12" ng-hide="modalTitle === ''" >
            <div ba-panel ba-panel-title="{{modalTitle}}" >
                <div class="row">
                    <form class="form-horizontal" name="form1">
                        <div class="form-group">
                            <div class="col-xs-3">
                                <label class="control-label" for="title">Nama</label>
                            </div>
                            <div class="col-sm-8" ng-class="{error: form1.title.$invalid}">
                                <input name="name" type="text" class="form-control" id="name" ng-model="vm.name" required autofocus/>
                                <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.name.$error.required">
                                    Harus Diisi
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-3">
                                <label class="control-label" for="description">Dskripsi</label>
                            </div>
                            <div class="col-sm-8" ng-class="{error: form1.description.$invalid}">
                                <input name="description" type="text" class="form-control" id="description" ng-model="vm.description" required autofocus/>
                                <span style="float:right; color:white" class="help-block label label-danger" ng-show="form1.description.$error.required">
                                    Harus Diisi
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">


                                <table class="table table-bordered table-hover table-condensed">
                                    <tr>
                                        <td></td>
                                        <td>Menu</td>
                                        <td>Title</td>
                                        <td class="col-sm-3">
                                            <button class="btn btn-info editable-table-button btn-xs" ng-click="lookupMenu()">Tambah</button>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="c in vm.menuSet" class="editable-row">
                                        <td>
                                            {{$index + 1}}
                                        </td>
                                        <td>
                                            {{ c.menu.name || 'empty' }}
                                        </td>
                                        <td>
                                            {{ c.menu.title || 'empty' }}
                                        </td>
                                        <td>
                                            <div class="buttons" >
                                                <button class="btn btn-danger editable-table-button btn-xs" ng-click="hapusMenu($index)">Hapus</button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div> 

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="button" class="btn btn-primary" ng-click="simpan()" ng-disabled="form1.$invalid">Simpan</button>
                                <button type="button" class="btn btn-danger" ng-click="clear()">Batal</button>
                            </div>
                        </div>
                    </form>                
                </div>                    
            </div>
        </div>

    </div>
</div>
